/* =================================================== */
/* ==== bdefaultsm.css v2.0.0 ======================== */
/* ==== an opinionated classless css stylesheet ====== */
/* =================================================== */
/* ==== on github here: ============================== */
/* ==== https://github.com/jarrenb/bdefaultsm-css ==== */

/* html & body */
html {
  font-family: sans-serif;
  font-size: 18px;
  margin: 0 auto;
  max-width: 50rem;
}

body {
  margin: 1rem;
  color: #111;
}

/* h1, h2, h3, h4, h5, h6 */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.35rem; 
}

h2 {
  font-size: 2.00rem; 
}

h3 {
  font-size: 1.75rem; 
}

h4 {
  font-size: 1.5rem; 
}

h5 {
  font-size: 1.25rem; 
}

h6 {
  font-size: 1rem; 
}

/* paragraphs */
p {
  max-width: 35rem;
}

/* lists */
ol {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0;
}

/* adding dashes instead of bullets to my unordered lists */
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0;
  list-style: none;
}

ul > li {
  line-height: 1.4;
}

ul > li::before {
  content: "- ";
}

/* images */
img {
  max-width: 100%; 
}

/* pre & code */
pre {
  background-color: #f1f1f1;
  display: block;
  padding: 1rem;
  overflow-x: auto;
}

/* tables */
table {
  border-collapse: collapse;
  margin-bottom: 1rem;
}

td, th {
  border: .15rem solid #111111;
  padding: .25rem .5rem;
}

caption {
  text-align: left;
  font-weight: bold;
}

/* buttons, forms, inputs, and links */
a {
  text-decoration: none;
  border-bottom: .1rem solid #0366d6;
  color: #111;
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
a:hover {
  background-color: rgb(3, 102, 214, .2) /* blue, 0366d6 */;
}

textarea, select {
  color: #4a4a4a;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  background-color: #f1f1f1;
  border: .25rem solid #f1f1f1;
  box-shadow: none;
  box-sizing: border-box;
}
  
textarea:focus, select:focus {
  border: .25rem solid #0366d6;
  outline: 0; 
}

button, 
input[type="submit"], 
input[type="reset"], 
input[type="button"] {
  padding: .25rem .5rem;
  text-align: center;
  background-color: #0366d6;
  color: white;
  margin-bottom: 1rem;
  outline: none;
  border-radius: .25rem;
  box-shadow: 0 .1rem .1rem #aaa;
  border-width: 0;
}
 
button:hover,  
input[type="submit"]:hover,  
input[type="reset"]:hover,  
input[type="button"]:hover {
  background-color: #004EA6;
  color: white;
}

button:active {
  box-shadow: 0 0 0;
}

/* disabled buttons should look kind of broken, and shouldn't do anything */ 
button[disabled], 
input[type="submit"][disabled], 
input[type="reset"][disabled], 
input[type="button"][disabled] {
  cursor: default;
  opacity: .5;
  background-color: #a9a9a9;
  border: none;
  color: white;
}

button[disabled]:hover, 
input[type="submit"][disabled]:hover, 
input[type="reset"][disabled]:hover, 
input[type="button"][disabled]:hover {
  background-color: #a9a9a9;
  border: none;
  color: white;
}

label, legend, fieldset {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; 
}

button,
input,
optgroup,
select,
textarea,
label,
legend {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
}

small, sub, sup {
  font-size: 75%; 
}

blockquote {
  font-style: italic;
  margin-left: 0;
  padding-left: 1rem;
  border-left: .25rem solid #0366d6;
  max-width: 34rem;
}